<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- Menu navbar z pliku header.html -->
<div th:insert="~{header::header}"></div>

<div class="row">
<!--    <div class="col-md-2">-->
<!--        <div class="list-group" th:each="category: ${T(com.example.demo.domain.model.Category).values()}">-->
<!--            <a th:href="@{/category/{categoryName}(categoryName=${category})}"-->
<!--               class="list-group-item list-group-item-action list-group-item-dark fs-4" th:text="${category}"></a>-->
<!--        </div>-->
<!--    </div>-->
    <div class="col-md-10 ">
        <!-- List group-->
        <div class="row g-2">
            <div class="col-4" th:each="finishedAuction: ${finishedAuctions}">
                <li class="list-group-item" >
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1 text-center">
                            <h2 class="mt-0 font-weight-bold mb-2" th:text="${finishedAuction.getTitle()}"></h2>
                            <h4 class="font-weight-bold my-m3 text-center"
                                th:text="${finishedAuction.getActualPrice()}"></h4>
                            <!-- wyswietlanie gwiazdek - ocena -->
                            <ul class="list-inline small">
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i>
                                </li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i>
                                </li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i>
                                </li>
                                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i>
                                </li>
                                <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                            </ul>
                            <img th:src="${finishedAuction.getItemImageUrl()}" alt="Generic placeholder image"
                                 width="200" height="150"
                                 class="ml-lg-5 order-1 order-lg-2">
                            <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
                                <a th:href="@{/auctionDetail/{auctionId}(auctionId=${finishedAuction.getId()})}"
                                   class="btn btn-secondary fa fa-info"> Details</a>

                            </div>
                        </div>
                        <!-- End -->
                    </div>
                </li>
            </div>
            <!-- End -->
        </div>
    </div>
</div>
</body>
</html>