<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Add new rate</title>
</head>
<body>
<!-- Menu navbar -->
<div th:insert="~{header::header}"></div>

<form th:action="@{/addRate/__${auctionById.id}__}" th:object="${newRate}" method="post">


    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Auction</span>
        <input type="text" th:field="${auctionById.title}" class="form-control"
               aria-label="Comment" aria-describedby="basic-addon2" readonly>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Id</span>
        <input type="text" th:field="${auctionById.id}" class="form-control"
               aria-label="Comment" aria-describedby="basic-addon3" readonly>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon4">Comment</span>
        <input type="text" th:field="*{comment}" class="form-control" placeholder="Write your comment"
               aria-label="Comment" aria-describedby="basic-addon4">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon5">Rate</span>
        <select class="form-select" aria-label="Default select example" th:field="*{rating}">
            <option th:each="rate: ${T(com.example.demo.domain.model.Rating).values()}"
                    th:value="${rate.name()}" th:text="${rate.name()}"
                    aria-label="Rate"
                    aria-describedby="basic-addon5">
            </option>
        </select>
    </div>

    <p><input type="submit" value="Rate transaction!"></p>

</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>
</html>