<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Add new auction</title>
</head>
<body>
<!-- Menu navbar -->
<div th:insert="~{header::header}"></div>

<form th:action="@{/userProfile}" th:object="${userDetails}" method="post">

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Account name </span>
        <input type="text" th:field="*{accountName}" class="form-control" aria-label="Name"
               aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Email</span>
        <input type="text" th:field="*{email}" class="form-control" aria-label="Email"
               aria-describedby="basic-addon2" readonly>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Region</span>
        <input type="text" th:field="*{region}" class="form-control" aria-label="Region"
               aria-describedby="basic-addon3">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon4">City</span>
        <input type="text" th:field="*{city}" class="form-control" aria-label="City"
               aria-describedby="basic-addon4">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon5">Street</span>
        <input type="text" th:field="*{street}" class="form-control" aria-label="Street"
               aria-describedby="basic-addon5">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon6">House number</span>
        <input type="text" th:field="*{houseNumber}" class="form-control" aria-label="HouseNumber"
               aria-describedby="basic-addon6">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon7">Postal Code</span>
        <input type="text" th:field="*{postalCode}" class="form-control" aria-label="PostalCode"
               aria-describedby="basic-addon7">
    </div>

    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon8">Account created</span>
        <input type="text" th:field="*{created}" class="form-control" aria-label="Created"
               aria-describedby="basic-addon8" readonly>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon9">Account status</span>
        <input type="text" th:field="*{accountStatus}" class="form-control" aria-label="AccountStatus"
               aria-describedby="basic-addon9" readonly>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon10">Account type</span>
        <input type="text" th:field="*{accountType}" class="form-control" aria-label="AccountType"
               aria-describedby="basic-addon10" readonly>
    </div>


    <!--inny guzik-->
    <p><input type="submit" value="UPDATE"></p>

</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>
</html>